<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="base:: Layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>My Service page</title>
</head>
<body>
	<section>
		<h1>This is my contact page .....</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
			Repudiandae beatae eligendi sint animi esse accusamus delectus
			excepturi fugit! Natus laudantium repellat eius cumque earum ut
			numquam! Dolorum odit adipisci reprehenderit necessitatibus sit
			quisquam hic eveniet pariatur laudantium quas magni facilis in
			veniam. Eius inventore commodi officia sapiente fuga eveniet eos.</p>
	</section>
</body>
</html>